# Discord bot data
TOKEN=
PREFIX=

# Discord bot data for testing updates
TEST_TOKEN=
TEST_PREFIX=

# MySQL login data

HOST=
DATABASE=
USER=
PASS=

# Guild ID / Discord server ID
GUILD=

# GM, Discord UID
ADMIN=

DEBUG=False
